<p>{{title}}</p>

<input [(ngModel)]="newTitle" placeholder="Write a task here...">
<input [(ngModel)]="newAuthor" placeholder="Author">
<input [(ngModel)]="newTags" placeholder="Tags">

<button (click)="addTask()">Add a task</button>

<ul>
@for (task of tasks; track task.id) {
  
    <li>
      <span [class.completed]="task.completed">{{ task.title }} par {{ task.author }} (Tags : {{ task.tags.join(', ') }})</span>

      <button (click)="deleteTask(task.id)">Delete</button>
      <input type="checkbox" [(ngModel)]="task.completed">
    </li>
  
  }
</ul>